.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#myProgress,
#opinion {
  width: 100%;
  background-color: white;
}

#myBar {
  height: 60px;
  background-image: linear-gradient(
    to right,
    #feca57,
    #ff9f43,
    #ff6b6b,
    #ee5253,
    #b33939
  );
  max-width: 100%;
}

#opinionBar {
  height: 60px;
  max-width: 100%;
  background-image: linear-gradient(to right, green, yellow, red);
}
