.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#myProgress,
#opinion {
  width: 70px;
  height: 50vh;
  background-color: white;
}

#myProgress{
  margin-left: 100px;
}

#opinion{
  margin-right: 100px;
}

#myBar {
  width: 70px;
  background-image: linear-gradient(
    #feca57,
    #ff9f43,
    #ff6b6b,
    #ee5253,
    #b33939
  );
  max-height: 100%;
}

#opinionBar {
  width: 70px;
  max-height: 100%;
  background-image: linear-gradient(green, yellow, red);
}

.button {
  transition: all 0.2s ease-in-out;
  background-color: #b33939;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.2);
}
